.cont
{
    /* display: inline-grid; 
    converts into inline format */
    display: grid;
    /* grid-template-columns: 1fr 3fr 3fr; */
    grid-template-columns: repeat(3,1fr);
    column-gap: 20px;
    row-gap: 10px;
    background-color: dodgerblue;
    padding: 10px;
    /* justify-content: center;                    ncl */

}
.cont div
{
    /* border: solid black; */
  background-color: #f1f1f1;
  border: 1px solid black;
  padding: 10px;
  font-size: 30px;
  text-align: center;
}
/* justify-content - Aligns the grid content when it does not use all available space on the main-axis (horizontally)
align-content - Aligns the grid content when it does not use all available space on the cross-axis (vertically)
place-content - Shorthand property for align-content and justify-content */
.item1 {
  grid-column-start: 2;
  grid-column-end: 4;
}

