.cont
{
    /* display: inline-grid; 
    converts into inline format */
    display: grid;
    /* grid-template-columns: 1fr 3fr 3fr; */
    grid-template-columns: repeat(3,1fr);
    column-gap: 20px;
    row-gap: 10px;
    background-color: dodgerblue;
    padding: 10px;
    

}
.cont div
{
    /* border: solid black; */
  background-color: #f1f1f1;
  border: 1px solid black;
  padding: 10px;
  font-size: 30px;
}


