.cont
{
    /* display: inline-grid; 
    converts into inline format */
    display: grid;
    /* grid-template-columns: 1fr 3fr 3fr; */
    grid-template-columns: repeat(3,1fr);
    column-gap: 20px;
    row-gap: 10px;
    background-color: dodgerblue;
    padding: 10px;
    /* justify-content: center;                    ncl */

}
.cont div
{
    /* border: solid black; */
  background-color: #f1f1f1;
  border: 1px solid black;
  padding: 10px;
  font-size: 30px;
  text-align: center;
}
/* justify-content - Aligns the grid content when it does not use all available space on the main-axis (horizontally)
align-content - Aligns the grid content when it does not use all available space on the cross-axis (vertically)
place-content - Shorthand property for align-content and justify-content */
.item1 {
  grid-column-start: 2;
  grid-column-end: 4;
}

.box_1
{
  

  display: inline-block;
  height: 100px;
  width: 100px;
  border-radius: 5%;
  background-color: blue  ;
  transform: skew(20deg);
}
.box_2
{
  

  display: inline-block;
  height: 100px;
  width: 100px;
  border-radius: 5%;
  background-color: blue  ;
  transform: skew(-20deg);
}
.box_1:hover
{
  transform: scale(1.5);
}
.box
{
  width: 100px;
  height: 100px;
  background-color: red;
  display: flex;
  flex-direction: row;
  border-radius: 5%;

}
/* translate property */
.translate:hover
{
  /* right and down */
  transform:translate(80px,30px);
}
/* rotate */
.rotate:hover
{
  transform:rotate(45deg);
}
/* change of size */
.scale:hover
{
  transform: scale(1.5);
}
/* skewness */
.skew:hover{
  transform: skew(20deg);
}
/* combined effect */
.combo:hover
{
  transform: translate(500px,0px) scale(2.5) skew(20deg);

}
.all
{
  transition-property:all ;
  /* to add duration */
  transition-duration: 2s;
  /* timing function */
  transition-timing-function: steps(3);
  /* delay */
  transition-delay: 1s;
  
  /* or use 
    transition:all 2s steps(3) 1s;
    |prop|duration|timing-fun|delay|
  */

}
.all:hover
{
  background-color: darkblue;
  color: white;
  transform: rotate(45deg);
}
@media(max-width: 600px)
{
  .media{
    background-color: blue;

  }
}