.box{
    display: flex;
    border: solid black 5px;
    margin: 20px;
    justify-content: space-around;
    

}
.card
{
    display: inline-block;
    text-align: center;
    border: solid blue 2px;
    box-shadow: 2px;
    padding: 20px 40px;
    margin: 5px 0px;
    border-radius: 5px;
    box-shadow: 5px 3px 2px 1px rgb(0 0 0 / 20%)
}
.id_logo{
    background-color: rgb(35, 101, 224);
    color: white;
    border-radius: 50%;
    padding: 3px;
    border-radius: 50%;
    width: 40px;   /* same value */
    height: 40px;  /* same value */
    display: flex;
     justify-content: center; 
    align-items: center;
    font-weight: bold;
    margin: auto;
}