/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5%;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.navbar ul {
    display: flex;
    list-style: none;
}
.navbar .logo{
    font-size: 1.5rem;
}
.navbar ul li {
    font-size: 1.5rem;
    margin-left: 20px;
}
.navbar ul li:hover { border: solid rgb(2, 10, 48) 2px;}
.navbar a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

/* Hero Section */
#home {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px 10%;
    min-height: 100vh;
}

.highlight {
    color: #007bff;
}

.content h1 {
    font-size: 4rem;
}

.image img {
    width: 500px;
    border-radius: 50%;
    border-right: 25px solid #007bff;
    background-color: #ffe8d6; 
}

.btn-primary {
    width: 15vh;
    height: 5vh;
    font-size: 1.5rem;
    background: #007bff;
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}
.btn-primary:hover{
    background-color: #0058b7;
}

/* section I */
.section {
    padding: 60px 10%;
    text-align: center;
    
    

}

.section h2 {
    font-size: 3rem;
    
    margin-bottom: 30px;
}

.section-text {
    max-width: 1500px;
    font-size: 1.3rem;
    margin: 0 auto;
}


.skills-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    
    flex-wrap: wrap;
}

.skill-tag {
    font-size: 1.5rem;
    background: #fff;
    padding: 10px 20px;
    border-radius: 8px;
    
    
}
.skill-tag:hover
{
    box-shadow: 0 8px 6px rgba(0,0,0,0.1);
}
/* section II */
.project-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.project-card {
    background: #fff;
    font-size: 1.5rem;
    padding: 30px;
    border-radius: 12px;
    
    width: 400px;
    text-align: left;
}
.project-card:hover
{
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
}

