.card
{
    display: inline-block;
    padding: 20px 40px;
    margin: 20px 0px;
    gap: 40px;
    font-size: 150%;
    text-align: center;
    border: solid rgb(103, 103, 107) 2px;
    
    border-radius: 5px;
    box-shadow: 5px 5px 4px rgb(0 0 0 / 20%)
}
.header
{
    font-weight: bold;
    font-size: larger;
}
