*
{
     margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;  
}
    

.navbar
{
    position: fixed;
    display: flex;
    gap: 2px;
    flex-direction: row;
    width: 100%;
    height: 70px;
    background-color: #ff920d;
    
}
