*
{
     margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;  
}
    

.navbar
{
    position: fixed;
    display: flex;
    gap: 2px;
    flex-direction: row;
    width: 100%;
    height: 70px;
    background-color: #ff920d;
    
}
#nav-logo
{
    
    background-image: url(logoe.jpg);
    background-size: cover;
    height: 100%;
    width: 9%;
    margin: 0px 1px;
    padding: 0px 8px 0px 6px;
}
