*
{
     margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;  
}

body
{
    background-color: #f4f9fd;
}
/* ^^^^^^^^^^^^^^^^^^^^^^ nav bar^^^^^^^^^^^^^^^^^^^^^^^ */
.navbar
{
    position:sticky;
    display: flex;
    justify-content: space-around;
    gap: 2px;
    flex-direction: row;
    width: 100%;
    min-width: 1200px;
    height: 80px;
    background-color: #04060f;
    
}
#nav-logo
{
    
    background-image: url(logo.jpg);
    background-size: cover;
    height: 100%;
    width: 10%;
    margin: 0px 1px;
    padding: 0px 8px 0px 6px;
}
#nav-logo:hover { border: solid white 2px;}


#nav-location
{
    display: flex;
    flex-direction: row;
    height: 80%;
    width: 17%;
    margin: 5px 2px 5px 0px;
    padding: 0px 9px 0px 9px;
    color: white;
    font-size: 120%;
}
#nav-location p
{
    padding: auto ;
    align-self: center; 
}
#nav-location i
{
   align-self: center;
   font-size: 130%; 
}
#nav-location:hover { border: solid white 2px;}


#nav-search
{
    display: flex;
    flex-direction: row;
    width: 40%;
    height: 50px;
    margin: 10px 4px 10px 3px;
    /* background-color: white; */
    color: black;
    /* border-radius: 5% 5% 5% 5%; */
}
#nav-search #sort
{
    width: 10%;
    background-color: #e2dfdf;
    font-size: 100%;
    text-align: center;
    color: rgb(83, 82, 82);
    border-top-left-radius: 5px ;
    border-bottom-left-radius: 5px ;
    border: none;
    height: 100%;
}
#nav-search #search
{
    width: 80%;
    font-size: 150%;
    height: 100%;
}
#nav-search #search_button
{
    
    width: 10%;
    font-size: 170%;
    background-color: #ff920d;
    height: 100%;
    color: rgb(83, 82, 82);
    border-top-right-radius: 5px ;
    border-bottom-right-radius: 5px ;
    border: none;

    
}
#nav-search:hover { box-shadow: 2px 8px 4px rgb(0 0 0 / 50%)}



#nav-laguage
{
    display: flex;
    flex-direction: row;
    width: 5%;
    height: 100%;
    background-color: aqua;
    margin: 0px 1px;
    padding: 0px 7px;
}

#nav-account
{
    height: 100%;
    width: 10%;
    margin: 5px 2px 5px 0px;
    padding: 0px 9px 0px 9px;
    color: white;
    text-align: center;
    
}
#nav-account #btn 
{
  background-color:#04060f;
  color: white;
  border: none;
  padding: 4px 1px;
  width: 100%;
  height: 80%;
  border: none;
  margin: auto;
  font-size: 140%;
}
#dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
#dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
#dropdown-content a:hover {background-color: #ddd;}
#nav-account:hover #dropdown-content {display: block;}
#nav-account:hover #btn { border: solid white 2px;}

#nav-return_order
{
    width: 8%;
    text-align: center;
}
#nav-return_order #btn
{
    background-color:#04060f;
    color: white;
    border: none;
    padding: 4px 1px;
    width: 100%;
    height: 80%;
    border: none;
    margin: auto;
    font-size: 140%;
}
#nav-return_order:hover{ border: solid white 2px;}

#nav-cart
{
    display: flex;
    direction: row;
    width: 7%;
    text-align: center;
}
#nav-cart i
{
    color: white;
    padding: 30px 0px 30px 5px;
    font-size: 150%;
}
/* #ff920d; */
#nav-cart #btn
{
    background-color: #04060f;
    color: white;
    border: none;
    padding: 30px 5px 30px 0px;
    width: 100%;
    height: 80%;
    border: none;
    
    font-size: 140%;
}
#nav-cart:hover{ border: solid white 2px;}

/* ^^^^^^^^^^^^^^^^^^^^^^ meru bar^^^^^^^^^^^^^^^^^^^^^^^ */
.menu {
    
    background-color: #1f2937;
    padding: 12px 20px;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.menu a {
    padding: 5px;
    height: 100%;
    text-decoration: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.menu a:hover {
    /* text-decoration: underline; */
    border: solid white 1px;
}


/* ^^^^^^^^^^^hero section slideshow^^^^^^^^^^^^^^^^^ */

.slideshow
{
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    margin: auto;
    height: 500px;
    
}
.slideshow .img
{
    width: 100%;
    display: none;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

