.s2
{
    color: rgb(255, 221, 0);
}
body
{
    background-color: rgb(0, 0, 0);
}
.boxmd{
    height: 200px;
    width: 400px;
    background-color: rgb(79, 69, 55);
    border: dashed yellow 4px;
    padding: 10px 20px 30px 40px;
    margin: 0px 20px 50px 20px;
}